**/bin/**/*
**/obj/**/*
**/debug/**/*
**/release/**/*
**/jqwidgets/**/*
**/fonts/**/*
**/syncfusion/**/*
**/src-noconflict/**/*
**/plugins/**/*
**/images/**/*
**/img/**/*
**/js/**/*
**/external/**/*
**/data/**/*
**/ace/**/*
.vs
.nuget
packages